<h1> Hey, Please add a new Product  </h1>

<%= form_tag "/products", method: :post do %>
  <div> 
  Name: <input type="text" name="name">
  </div>

  <div> 
  Description: <input type="text" name="description">
  </div>

  <div> 
  Price: <input type="text" name="price">
  </div>

  <div> 
  Image: <input type="text" name="image">
  </div>

  <input type="submit" value="Create Product">

  <% end %>